[Unit]
Description=Sysalytics Platform Statistics Reporter
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /usr/bin/sysalytics

[Install]
WantedBy=multi-user.target